
.login {
  min-height: 100vh;
  width: 100vw;
  padding-top: 80px; 

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: transparent; 
}


.login form {
  width: 100%;
  max-width: 400px;

  padding: 30px;
  border-radius: 12px;

  background: rgba(0, 0, 0, 0.75);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;
  gap: 15px;
}


.login input {
  padding: 12px;
  font-size: 16px;

  border: none;
  border-radius: 6px;
  outline: none;
}

.login button {
  padding: 12px;
  font-size: 18px;
  font-weight: bold;

  border: none;
  border-radius: 6px;

  background-color: #ffd700;
  color: #000;
  cursor: pointer;
  transition: 0.3s ease;
}

.login button:hover {
  background-color: #e6c200;
}


.login p {
  margin-top: 15px;
  font-size: 15px;
  color: white;
}


.login a {
  color: #ffd700;
  font-weight: bold;
  text-decoration: none;
}

.login a:hover {
  text-decoration: underline;
}
