#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;

  
  background:
    radial-gradient(
      circle at top,
      rgba(107, 90, 187, 0.211),
      rgba(0, 0, 0, 0) 60%
    ),
    linear-gradient(
      135deg,
      #0f0f14,
      #1a1a2e,
      #0f2027
    );

  
  background-attachment: fixed;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  
  color: #f5f5f5;
}

.app-layout {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.main-content {
  margin-left: 250px; /* Offset for the sidebar width */
  flex: 1;
  height: 100vh;
  width: calc(100% - 250px);
  position: relative;
  overflow-y: auto;
}

/* Layout used on the homepage (no sidebar) */
.app-layout-full {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.main-content-full {
  flex: 1;
  height: 100vh;
  width: 100%;
  position: relative;
  overflow-y: auto;
}

